# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [61]:
# Basic pandas and numpy
import pandas as pd
import numpy as np
 
# Pandas defaults
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

# Specifics
from scipy.stats import t
import math

In [62]:
# Defining a hypothesis checker function:
def hyp_checker(pvalue):
    alpha = float(input("What's your alpha?"))
    if type(alpha) != float:
        print('Insert a correct alpha')
        return hyp_checker(result)
    else:
        if pvalue <= alpha:
            return "Our p value ({}) is smaller than our alpha({}). H0 is rejected".format(pvalue, alpha)
        else:
            return "Our p value ({}) is bigger than our alpha({}). Fail to reject H0".format(pvalue, alpha)

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [63]:
# Run this code:
salaries = pd.read_csv('../../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [64]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [65]:
# Your code here:
print('Columns with NaN values:')
for i in list(salaries.columns):
    perc = (1-(salaries[i].count()/len(salaries))).round(2)
    if perc > 0:
        print('Percentage null in {}: {}'.format(i,perc))

Columns with NaN values:
Percentage null in Typical Hours: 0.76
Percentage null in Annual Salary: 0.24
Percentage null in Hourly Rate: 0.76

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [66]:
# Your code here:
s = len(salaries.loc[salaries['Salary or Hourly'] == 'Salary'])
h = len(salaries.loc[salaries['Salary or Hourly'] == 'Hourly'])
print('There are a total of {} salaried employees and a total of {} hourly employees'.format(s,h))

There are a total of 25161 salaried employees and a total of 8022 hourly employees

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [67]:
salaries.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [68]:
# a) Hypothesis statement:
    # H0: hourly wage = 30
    # H1: hourly wage != 30 (two sided alternative hypothesis)

# b) Sample larger than 30. Variance unknown. Z test

In [69]:
from scipy import stats
from statsmodels.stats import weightstats as stests

In [70]:
# Subsetting a series (Hourly Rate) only for those workers that perform on an hourly basis:
h = salaries['Hourly Rate'].loc[salaries['Salary or Hourly'] == 'Hourly']

# Running the Z-Test for 1 sample x1 = h and comparing it with a value of $30/hour:
ztest = stests.ztest(h, x2=None, value=30)
ztest

(20.6198057854942, 1.8228873859286195e-94)

In [72]:
# Checking my hypothesis:
hyp_checker(ztest[1])

What's your alpha?0.05

'Our p value (1.8228873859286195e-94) is smaller than our alpha(0.05). H0 is rejected'

In [73]:
# Hence the mean hourly salary is significantly different from 30 dollars.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [74]:
# a) Hypothesis statement:
    # H0: yearly wage = $86000
    # H1: yearly wage > $86000

# b) Sample larger than 30. Variance unknown. Z test

In [75]:
# Subsetting a series (Hourly Rate) only for those workers that perform on an hourly basis:
p = salaries['Annual Salary'].loc[salaries['Department'] == 'POLICE'].dropna()

# Running the Z-Test for 1 sample x1 = p and comparing it with a value of $86000/year:
ztest = stests.ztest(p, x2=None, value=86000)

# Changing the p-value for a one-sided hypothesis:
real_pvalue = ztest[1] / 2
real_pvalue

0.0010280845287547855

In [76]:
# Checking the hypothesis
hyp_checker(real_pvalue)

What's your alpha?0.05

'Our p value (0.0010280845287547855) is smaller than our alpha(0.05). H0 is rejected'

In [77]:
# Hence, the annual wage for the police department is significantly greater than $86000

Using the `crosstab` function, find the department that has the most hourly workers.

In [78]:
conting = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'] == 'Hourly', values=salaries['Name'], aggfunc='count')
conting.sort_values(by=True, ascending=False).head()

# The department with most Hourly Workers is Streets and Sanitation

Salary or Hourly  False   True
Department
STREETS & SAN     336.0  1862.0
WATER MGMNT       366.0  1513.0
OEMC              829.0  1273.0
AVIATION          547.0  1082.0
GENERAL SERVICES  215.0   765.0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [79]:
# a) Hypothesis statement:
    # H0: mean hourly wage for S&S workers <= $35
    # H1: mean hourly wage for S&S workers <= $35

# b) We use a 1-sample T-Test, as requested

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [80]:
sample = salaries['Hourly Rate'].loc[salaries['Salary or Hourly'] == 'Hourly']
normal_mean = np.mean(sample)
std = np.std(sample)
t = stats.t.interval(0.95, (len(sample)-1))[1]
low = normal_mean - t*(std/math.sqrt(len(sample)))
high = normal_mean + t*(std/math.sqrt(len(sample)))
ci = (low,high)
ci

(32.52347486867093, 33.053640563889545)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [81]:
sample = salaries['Annual Salary'].loc[salaries['Department'] == 'POLICE'].dropna()
normal_mean = np.mean(sample)
std = np.std(sample)
t = stats.t.interval(0.95, (len(sample)-1))[1]
low = normal_mean - t*(std/math.sqrt(len(sample)))
high = normal_mean + t*(std/math.sqrt(len(sample)))
ci = (low,high)
ci

(86177.06785530433, 86795.76115096245)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# H0: Proportion = 25%
# H1: Proportion != 25%

In [102]:
from statsmodels.stats.proportion import proportions_ztest

count = salaries['Salary or Hourly'].loc[salaries['Salary or Hourly'] == 'Hourly'].count()
nobs = salaries['Salary or Hourly'].count()
value = 0.25

stat, pval = proportions_ztest(count=count, 
                               nobs=nobs, 
                               value=value)

In [103]:
hyp_checker(pval)

What's your alpha?0.5

'Our p value (0.0004481127249057967) is smaller than our alpha(0.5). H0 is rejected'

In [ ]:
# Hence, we can't conclude that proportion of hourly workers is 25%